.praktyka {
    &__title {
        margin: 3rem 0;
    }

    &__font-name {
        margin-bottom: 1.5rem;
    }

    &__box {
        margin: 2rem 1rem;
        height: 350px;
        border: solid 4px black;
    }

    &__caption {
        font-size: 20px;
        font-weight: 600;
        margin: 1rem 0 .5rem 0;
    }

    &__text {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }

    &__pole-tekstowe {
        height: 100px;
        margin: auto;
        word-wrap: break-word;
        overflow: hidden;
        font-size: 22px;

        &--font1 {
            font-family: 'Cinzel', serif;
        }

        &--font2 {
            font-family: 'Anton', sans-serif;
        }

        &--font3 {
            font-family: 'IBM Plex Mono', monospace;
        }

        &--font4 {
            font-family: 'Tangerine', cursive;
        }

        &--font5 {
            font-family: 'Prata', serif;
        }

        &--font6 {
            font-family: 'Righteous', cursive;
        }
    }

    &__input {
        border: solid 2px black;
        margin-top: 2rem;
        height: 50px;
        padding: 10px;
    }

    &___tekst {
        font-size: 20px;
    }
}