.container-fluid {
    padding: 0;
}

.container {
    margin: 5rem auto;
    max-width: 1280px;

    &__small {
        max-width: 900px;
    }
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}